<mat-nav-list>
  <ng-container *ngFor="let menu of menuMaster">
    <ng-container *ngTemplateOutlet="menuItemTemplate; context: { menu: menu }"> </ng-container>
  </ng-container>
</mat-nav-list>

<ng-template #menuItemTemplate let-menu="menu" let-depth="depth">
  <a mat-list-item (click)="onMenuSelected(menu)" [ngClass]="{
      active: menu.link ? router.isActive(menu.link, true) : false,
      expanded: menu.expanded
    }" class="menu-list-item">
    <mat-icon class="routeIcon">{{ menu.icon }}</mat-icon>
    {{ menu.name }}
    <span class="flex" *ngIf="menu.children && menu.children.length">
      <mat-icon [@indicatorRotate]="menu.expanded ? 'expanded' : 'collapsed'">
        expand_more
      </mat-icon>
    </span>
  </a>
  <div *ngIf="menu.expanded">
    <ng-container *ngFor="let child of menu.children">
      <div class="pl-3">
        <ng-container *ngTemplateOutlet="menuItemTemplate; context: { menu: child, depth: depth + 1 }"> </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>