<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <p class="primary">Home</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>info</mat-icon>
    <p class="primary">About us</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>help</mat-icon>
    <p class="primary">How it works</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>flare</mat-icon>
    <p class="primary">Acts and rules</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>photo_album</mat-icon>
    <p class="primary">Media</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon matListIcon>forum</mat-icon>
    <p class="primary">Contact us</p>
  </mat-list-item>
</mat-list>
