/** Generic component styles go here**/

@import './material.scss';
@import './ngx-bootstrap.scss';

.table th {
  color: #000088;
  font-weight: normal;
}

.rounded-button {
  border-radius: 24px !important;
}

button {
  min-height: 36px !important;
}
