<ng-template #pageActions>
  <div
    class="info-container"
    [style.background-color]="
      this.appServ.isUserLoggedIn &&
      this.appServ.loggedInUserInfo?.persona == 'seller'
        ? '#FFD6C7'
        : '#a1ebeb'
    "
  >
    <div class="edit-profile-details flex justify-end" *ngIf="user">
      <div class="actions">
        <button
          mat-stroked-button
          color="primary"
          class="rounded-button"
          (click)="this.appServ.forceLogoutUser()"
        >
          Logout
        </button>
      </div>
    </div>

    <div
      class="user-details"
      *ngIf="user"
      [style.background-color]="
        this.appServ.isUserLoggedIn &&
        this.appServ.loggedInUserInfo?.persona == 'seller'
          ? '#EB5821'
          : '#08b5ae'
      "
    >
      <div class="display-picture">
        <img
          [attr.src]="
            this.appServ.isUserLoggedIn &&
            this.appServ.loggedInUserInfo?.persona == 'seller'
              ? './../../../../assets/images/seller-dummy-dp.png'
              : './../../../../assets/images/buyer-dummy-dp.png'
          "
          alt="Display picture"
          height="88"
        />
      </div>
      <div class="user-basic-info flex space-between align-start">
        <div class="address">
          <p class="text--largesecondary">
            {{ this.appServ.loggedInUserInfo.name }}
          </p>
          <p class="text--normal mt-2">
            <span>{{ this.appServ.loggedInUserInfo.address }}</span>
            <span>, {{ this.appServ.loggedInUserInfo.city }}</span>
            <span>
              - {{ this.appServ.loggedInUserInfo.pinCode }}.</span
            >
            <span> {{ this.appServ.loggedInUserInfo.mobNo }}</span>
          </p>
        </div>
        <div class="user-logout">
          <button mat-flat-button color="accent" class="rounded-button">
            Edit
          </button>
        </div>
      </div>
    </div>

    <div class="dynamic-action-container">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>
