.info-container {
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background-color: #a1ebeb;

  .edit-profile-details,
  .user-details {
    padding: 8px 32px;
  }

  .edit-profile-details {
    height: 80px;
    background-color: #f0f0f0;
  }

  .user-details {
    height: 180px;
    position: relative;
    background-color: #08b5ae;

    .display-picture {
      position: absolute;
      top: -40px;
      left: 40px;
    }

    .user-basic-info {
      margin-top: 40px;
      color: #ffffff;
    }

    .user-address {
      color: #ffffff;
    }
  }

  .dynamic-action-container {
    overflow: auto;
  }
}
