server {
	listen       80;
	server_name  {{ .Env.DOMAIN_NAME }} ;

	## frontend configurations
	location / {
		root   /opt/app/wastexchange-fe/;
		index  index.html index.htm;
	}

	## 5xx errors
	error_page  500 502 503 504 /50x.html;
	location = /50x.html {
		root   /usr/share/nginx/html;
	}

	## backend configurations

	location = /api {
    	return 302 /api/;
	}

	location /api/ {
		proxy_pass http://{{ .Env.BACKEND_HOST }}:{{ .Env.BACKEND_PORT }}/;
	}
}
