.inline-group > .inline-field {
  display: inline-block;
}

.form-group {
  width: 100%;
}

hr {
  margin: 0 0 15px 0;
}
.main-container {
  .form-container,
  .map-container {
    width: 50%;
    padding: 8px;
  }

  .map-container {
    height: 400px;
    .form-group {
      height: 80px;
    }

    agm-map {
      height: 300px;
    }
  }
}
