<div class="login-container">
  <div class="login-form">
    <mat-form-field>
      <mat-label>Email/mobile</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>
  </div>

  <div class="actions flex justify-end">
    <button mat-stroked-button color="primary" class="rounded-button mr-2" (click)="onCancel()">
      Cancel
    </button>
    <button mat-flat-button color="primary" class="rounded-button" [routerLink]="['/buyer/1/browse']" (click)="onCancel()">
      Login
    </button>
  </div>
</div>
