/* You can add global styles to this file, and also import other style files */

@import './utilities/theme.scss'; // Comes with the color palette
@import '~bootstrap/dist/css/bootstrap.css';
@import './content/typography.scss';
@import './utilities/flex.scss';
@import './components/components.scss'; // Comes with material and ngx-bootstrap components

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;

  &:focus {
    outline: none !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
