<div class="bid-list-container">
  <p class="text--largesecondary text--green">
    Current Bids
  </p>
  <p class="text--normal text--gray">
    Bids not accepted before18hrs of pick-up time will be automatically
    cancelled.
  </p>
  <div class="bid-list-table-container mt-4">
    <wm-bid-list-table></wm-bid-list-table>
  </div>
</div>

<wm-page-actions [user]="this.buyer">
  <div class="actions flex mt-4">
    <button
      mat-flat-button
      color="primary"
      class="rounded-button"
      [routerLink]="['/buyer/1/browse']"
    >
      Browse and Bid
    </button>
  </div>
</wm-page-actions>
