:root {
  --header-height: 68px;
}
body {
  height: 100%;
  position: relative;
}
.loading-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 68px);
  max-height: calc(100vh - 68px);
  position: absolute;
  top: var(--header-height);
  left: 0;
  z-index: 999;
  padding-bottom: 56px;
  // background-color: black;
  // opacity: 0.8;
}
.small-screen-container {
  height: 100vh;
  width: 100vw;

  .header-container {
    width: 100vw;
    height: var(--header-height);
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.15);
  }

  .body-container {
    height: calc(100vh - 68px);
    max-height: calc(100vh - 68px);
    overflow: auto;
    padding: 8px;
    padding-top: 20vh;
    padding-bottom: 56px;
  }
}

.sidenav-menu-container {
  width: 300px !important;
}

.app-container {
  height: 100vh;
  width: 100vw;

  .header-container {
    width: 100vw;
    height: var(--header-height);
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.15);

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 64px;

      .app-title {
        letter-spacing: 1px;
      }
    }
  }

  .progress-bar-container {
    height: 4px;
  }

  .app__loading {
    background-color: white;
    opacity: 0.6;
    pointer-events: none;
  }

  .body {
    height: calc(100vh - 68px);
    max-height: calc(100vh - 68px);
    overflow: auto;
    display: flex;
    padding-bottom: 56px;

    .router-outlet-container {
      flex-basis: 73%;
      max-width: 73%;
      height: 100%;
      max-height: 100%;
      overflow: auto;
    }

    .full-router-outlet-container {
      flex-basis: 100%;
      max-width: 100%;
    }

    .page-actions-container {
      flex-basis: 27%;
      max-width: 27%;
    }

    .page-actions-container,
    .router-outlet-container {
      height: 100%;
      max-height: 100%;
      overflow: auto;
    }
  }

  .footer-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 56px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.15);
    border-top: 2px grey;
    justify-content: space-between;
    font-size: 13px;
    padding-left: 20px;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;

    a {
      text-decoration: none;
      color: #000088;
    }
  }
  .resourcePartnerText {
    vertical-align: middle;
    color: #808080e6;
   // border-right: 1px solid #808080e6;
    padding-right: 15px;
    padding-left:20px;
  }
  .aVerticalSeparator {
    border-left: 1px solid #808080e6;
    width: 1px;
    vertical-align: middle;
}

  .resourcePartnerLogo{
    align-items: center;
    font-size: 16px;
    margin-left: 10px;
    vertical-align: middle;
  }
  .resourcePartnerLogo .thoughtworks-logo{
    width: 150px;
    margin-right:10px;
  }
  .resourcePartnerLogo .techForCities{
    margin-right:10px;
  }
  .resourcePartnerLogo img {
    max-height: 46px;
    width: 100px;
  }
  .paperman-logo{
    margin-left: 20px;
    margin-right: 10px;
    img {
    width: 70px;
    max-height: 40px;
    }
  }
}

.text {
  &--title {
    color: #3f3f3f;
  }
}

.googlePlaystoreButton {
  width:145px;
  height:60px;
}