<div *ngIf="this.isSmallScreen; else appTemplate">
  <div class="small-screen-container">
    <div class="header-container flex space-between">
      <div class="government-logo flex">
        <!-- <button mat-mini-fab class="mr-2" (click)="drawer.toggle()"> -->
        <mat-icon color="primary" class="cursor-pointer ml-2" (click)="sidenav.toggle()">apps</mat-icon>
        <!-- </button> -->
        <img src="assets/logos/ministry-logo.png" height="64" />
        <span class="headerLogoDivider"></span>
        <span class="smart-cities-logo"><img src="assets/logos/smart-cities-logo.svg" height="40" /></span>
        <span class="smart-cities-logo logo-title"><img width="90" src="assets/logos/smart-cities-logo-text.svg" /></span>
      </div>
      <div>
          <img src="assets/logos/greater-chennai-corporation-logo.jpeg" height="64" />
      </div>
    </div>
    <div class="body-container flex direction-column justify-start text--center">
      <p class="text--xlarge text--title">{{ this.appTitle }}</p>
      <p class="text--normal mt-4">
        Please view the application on desktop or on devices with wider display.
      </p>
      <p class="text--normal mt-2">
        You can also download our <strong>Mobile App</strong> for better experience.</p>
      <p>
        <span><a href='https://play.google.com/store/apps/details?id=com.smartcities.madraswasteexchange&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img  class="googlePlaystoreButton" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a></span>
      </p>
    </div>
  </div>
</div>

<ng-template #appTemplate>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="'over'" class="sidenav-menu-container no-select">
      <wm-sidenav-menu (close)="sidenavClose()"></wm-sidenav-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="loading-overlay" *ngIf="this.appServ.isLoading"></div>
      <div class="app-container">
        <div class="header-container">
          <div class="header">
            <div class="government-logo flex">
              <!-- <button mat-mini-fab class="mr-2" (click)="drawer.toggle()"> -->
              <mat-icon color="primary" class="cursor-pointer ml-2" (click)="sidenav.toggle()">apps</mat-icon>
              <!-- </button> -->
              <img src="assets/logos/ministry-logo.png" height="64" />
              <span class="headerLogoDivider"></span>
              <span class="smart-cities-logo"><img src="assets/logos/smart-cities-logo.svg" height="40" /></span>
              <span class="smart-cities-logo logo-title"><img width="90" src="assets/logos/smart-cities-logo-text.svg" /></span>
            </div>
            <div class="app-title">
              <p class="text--xlarge text--title">{{ this.appTitle }}</p>
            </div>
            <div class="chennai-corporation-logo">
              <img src="assets/logos/greater-chennai-corporation-logo.jpeg" height="64" />
            </div>
          </div>
          <div class="progress-bar-container">
            <mat-progress-bar color="primary" *ngIf="this.appServ.isLoading" mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <div class="body" [class.app__loading]="this.appServ.isLoading">
          <div class="router-outlet-container" [class.full-router-outlet-container]="this.appServ.hidePageActions">
            <router-outlet></router-outlet>
          </div>
          <div *ngIf="!this.appServ.hidePageActions" class="page-actions-container" id="page-actions-container">
            <!-- content will be placed dynamically via Cdk Portal -->
          </div>
        </div>
        <div class="footer-container">
          <div>
            <span class="resourcePartnerText">{{this.resourcePartnerText}}</span>
            <span class="aVerticalSeparator"></span>
            <span class="paperman-logo"><a href="http://www.papermanfoundation.org/" target="_blank"><img src="assets/logos/paperman-logo.png" alt="Paperman" /></a></span>
            <span class="resourcePartnerLogo text--blue"><a href="https://sudharsha.com/" target="_blank">Sudharsha</a></span>
            <span class="resourcePartnerLogo techForCities"><a href="https://sites.google.com/a/chennaitricolor.in/techforcities/"
                target="_blank"><img src="assets/logos/tech-for-cities-logo.svg" alt="Tech For Cities" /></a></span>
            <span class="resourcePartnerLogo"><a href="https://www.thoughtworks.com/" target="_blank"><img class="thoughtworks-logo" src="assets/logos/thoughtworks-logo.png" alt="Thoughtworks" /></a></span>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>
