<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th
          scope="col"
          *ngIf="this.appServ.loggedInUserInfo?.persona == 'seller'"
        >
          Buyer
        </th>
        <th
          scope="col"
          *ngIf="this.appServ.loggedInUserInfo?.persona == 'buyer'"
        >
          Seller
        </th>
        <th></th>
        <th>Total Cost</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid of this.bids">
        <td *ngIf="this.appServ.loggedInUserInfo?.persona == 'seller'">
          <p class="text--green">Subbu-Buyer</p>
        </td>
        <td *ngIf="this.appServ.loggedInUserInfo?.persona == 'buyer'">
          <p class="text--green">Subbu-Seller</p>
        </td>
        <td>
          <table class="bid-detail-table table table-sm table-borderless">
            <thead>
              <th scope="col">Material</th>
              <th scope="col">Bidding Qty. (in kg)</th>
              <th scope="col">Bidding Price (in ₹/kg)</th>
            </thead>
            <tbody>
              <ng-container *ngFor="let material of this.materials | keyvalue">
                <tr *ngIf="bid.details[material.key]?.bidQuantity">
                  <td>{{ material.value }}</td>
                  <td>{{ bid.details[material.key]?.bidQuantity }}</td>
                  <td>{{ bid.details[material.key]?.cost }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </td>
        <td>₹{{ bid.totalCost || 0 }}</td>
        <td>
          <div
            class="actions flex justify-end direction-column"
            *ngIf="bid.status == 'pending'"
          >
            <button
              mat-stroked-button
              color="primary"
              class="rounded-button mb-2"
              *ngIf="
                this.appServ.isUserLoggedIn &&
                this.appServ.loggedInUserInfo?.persona == 'seller'
              "
              (click)="this.updateStatusOfBid(bid, 'denied')"
            >
              Deny
            </button>
            <button
              mat-flat-button
              color="primary"
              class="rounded-button mb-2"
              *ngIf="
                this.appServ.isUserLoggedIn &&
                this.appServ.loggedInUserInfo?.persona == 'seller'
              "
              (click)="this.updateStatusOfBid(bid, 'accepted')"
            >
              Accept
            </button>
            <button
              mat-flat-button
              color="primary"
              class="rounded-button mb-2"
              *ngIf="
                this.appServ.isUserLoggedIn &&
                this.appServ.loggedInUserInfo?.persona == 'buyer'
              "
              [routerLink]="['/buyer', this.appServ.loggedInUserInfo.id, 'bid']"
              [queryParams]="{ bidId: bid.id, sellerId: bid.sellerId }"
            >
              Edit
            </button>
            <button
              mat-stroked-button
              color="primary"
              class="rounded-button mb-2"
              *ngIf="
                this.appServ.isUserLoggedIn &&
                this.appServ.loggedInUserInfo?.persona == 'buyer'
              "
              (click)="this.updateStatusOfBid(bid, 'cancelled')"
            >
              Cancel
            </button>
          </div>
          <div class="actions flex" *ngIf="bid.status != 'pending'">
            <span class="tag actions flex" [ngClass]="'tag--' + bid.status">
              {{ bid.status }}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
