<table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Plastic Quantity (in kg)</th>
      <th scope="col">Bid Price (in ₹/kg)</th>
      <th scope="col">PET Quantity (in kg)</th>
      <th scope="col">Bid Price (in ₹/kg)</th>
      <th scope="col">HDPE Quantity (in kg)</th>
      <th scope="col">Bid Price (in ₹/kg)</th>
      <th scope="col">Rubber Quantity (in kg)</th>
      <th scope="col">Bid Price (in ₹/kg)</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p class="text--green">1. Green Enterprises</p>
      </td>
      <td>
        <p class="text--green">1. Green Enterprises</p>
      </td>
      <td>58</td>
      <td>124.00</td>
      <td>-</td>
      <td>-</td>
      <td>30</td>
      <td>12.00</td>
      <td>12</td>
      <td>12.00</td>
      <td>
        <div class="actions flex justify-end">
          <button
            mat-stroked-button
            color="primary"
            class="rounded-button mr-2"
          >
            Cancel
          </button>
          <button mat-flat-button color="primary" class="rounded-button mr-2">
            Confirm
          </button>
          <button mat-stroked-button color="primary" class="rounded-button">
            Edit
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text--green">2. Green Enterprises</p>
      </td>
      <td>
        <p class="text--green">2. Green Enterprises</p>
      </td>
      <td>-</td>
      <td>-</td>
      <td>45</td>
      <td>12.00</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>
        <div class="actions flex justify-end">
          <button
            mat-stroked-button
            color="primary"
            class="rounded-button mr-2"
          >
            Cancel
          </button>
          <button mat-flat-button color="primary" class="rounded-button mr-2">
            Confirm
          </button>
          <button mat-stroked-button color="primary" class="rounded-button">
            Edit
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <p class="text--green">3. Harish recycling</p>
      </td>
      <td>
        <p class="text--green">2. Green Enterprises</p>
      </td>
      <td>-</td>
      <td>-</td>
      <td>45</td>
      <td>14.00</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>
        <div class="actions flex justify-end">
          <button
            mat-stroked-button
            color="primary"
            class="rounded-button mr-2"
          >
            Cancel
          </button>
          <button mat-flat-button color="primary" class="rounded-button mr-2">
            Confirm
          </button>
          <button mat-stroked-button color="primary" class="rounded-button">
            Edit
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
