<wm-map [sellers]="this.filteredSellers"></wm-map>

<wm-page-actions [user]="this.appServ.loggedInUserInfo">
  <div class="browse-by-container">
    <mat-radio-group [(ngModel)]="browseBy">
      <mat-radio-button color="primary" [value]="'bySeller'" (click)="this.onBrowseByChange('bySeller')">
        <p class="text--large">Browse sellers</p>
        <p>Rollover seller locations on map to</p>
        <p>see materials they have for sale.</p>
      </mat-radio-button>
      <mat-radio-button color="primary" [value]="'byMaterial'" class="mt-4" (click)="this.onBrowseByChange('byMaterial')">
        <p class="text--large">Browse materials</p>
        <p>Searching for a specific material?</p>
        <p>We’ll show your best path.</p>
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="actions flex mt-4">
    <button mat-flat-button color="primary" class="rounded-button" [routerLink]="['/buyer', this.appServ.loggedInUserInfo.id, 'bid-list']">
      View Pending Bids
    </button>
  </div>
</wm-page-actions>
