<wm-map></wm-map>

<wm-page-actions [user]="this.buyer">
  <div class="browse-by-container">
    <mat-radio-group [(ngModel)]="browseBy">
      <mat-radio-button color="primary" [value]="'bySeller'">
        <p class="text--large">Browse sellers</p>
        <p>Rollover seller locations on map to</p>
        <p>see materials they have for sale.</p>
      </mat-radio-button>
      <mat-radio-button
        color="primary"
        [disabled]="true"
        [value]="'byMaterial'"
        class="mt-4"
      >
        <p class="text--large">Browse materials</p>
        <p>Searching for a specific material?</p>
        <p>We’ll show your best path.</p>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</wm-page-actions>
