.landing-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;

  .map-container {
    flex-basis: 73%;
    height: 100%;
  }

  .info-container {
    flex-basis: 27%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: #a1ebeb;

    .edit-profile-details,
    .buyer-details,
    .browse-options {
      padding: 8px 32px;
    }

    .edit-profile-details {
      height: 80px;
      background-color: #F0F0F0;

    }

    .buyer-details {
      height: 180px;
      position: relative;
      background-color: #08B5AE;

      .display-picture {
        position: absolute;
        top: -40px;
        left: 40px;
      }

      .buyer-basic-info {
        margin-top: 40px;
        color: #FFFFFF;
      }

      .buyer-address {
        color: #FFFFFF;
      }
    }

    .browse-options {
      background-color: #a1ebeb;
      padding: 64px 32px;
    }
  }
}
