<div class="seller-list-container">
  <div class="flex space-between">
    <h4 class="text--blue text--center">Seller list</h4>
    <mat-form-field class="search-seller-input">
      <mat-label>Search sellers</mat-label>
      <input matInput [(ngModel)]="this.searchText" autocomplete="off" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col" class="title">Seller name</th>
        <th scope="col">Login id</th>
        <th scope="col">Mobile no.</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let seller of this.appServ.allSellers | filter: searchText:['name', 'emailId']">
        <td>{{ seller.name }}</td>
        <td>{{ seller.emailId }}</td>
        <td>{{ seller.mobNo }}</td>
        <td>
          <button mat-flat-button color="primary" class="rounded-button" [routerLink]="['/seller', seller.id, 'bid-list']">
            Manage
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<wm-page-actions [user]="this.appServ.loggedInUserInfo"> </wm-page-actions>
