<agm-map
  [latitude]="this.appServ.loggedInUserInfo?.lat || lat"
  [longitude]="this.appServ.loggedInUserInfo?.long || long"
  [zoom]="zoom"
>
  <agm-marker
    *ngIf="this.appServ.loggedInUserInfo?.persona == 'buyer'"
    [latitude]="this.appServ.loggedInUserInfo?.lat"
    [longitude]="this.appServ.loggedInUserInfo?.long"
    [label]="'B'"
  >
  </agm-marker>
  <agm-marker-cluster
    imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
  >
    <agm-marker
      *ngFor="let seller of this.sellers; let index = index"
      [latitude]="seller.lat"
      [longitude]="seller.long"
      [label]="'S'"
      (markerClick)="this.onMarkerClick(index)"
    >
      <agm-info-window [disableAutoPan]="true">
        <ng-container *ngIf="seller.details">
          <ng-container
            *ngTemplateOutlet="
              sellerDetailsTemplate;
              context: { sellerDetails: seller }
            "
          ></ng-container>
        </ng-container>
      </agm-info-window>
    </agm-marker>
  </agm-marker-cluster>
</agm-map>

<ng-template #sellerDetailsTemplate let-seller="sellerDetails">
  <p class="text--blue text--normal text--bold text--center mb-1">
    {{ seller.name }}
  </p>
  <table class="table mt-2 table-sm">
    <tbody>
      <ng-container *ngFor="let material of this.materials | keyvalue">
        <tr *ngIf="seller.details[material.key].quantity">
          <td>{{ material.value }}</td>
          <td>
            <span> {{ seller.details[material.key].quantity }} kg </span>
            (₹<span> {{ seller.details[material.key].cost }} </span> / kg)
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div class="actions flex">
    <button
      *ngIf="this.appServ.isUserLoggedIn && seller.canBidBeRaisedAgainst"
      mat-flat-button
      color="primary"
      class="rounded-button"
      [routerLink]="['/buyer', this.appServ.loggedInUserInfo.id, 'bid']"
      [queryParams]="{ sellerId: seller.id }"
    >
      Bid to buy
    </button>
    <!-- <p *ngIf="!this.appServ.isUserLoggedIn" class="text--blue text--normal">
      Login to bid
    </p> -->
  </div>
</ng-template>
