<agm-map [latitude]="lat" [longitude]="long" [zoom]="zoom">
  <agm-marker
    *ngFor="let seller of this.sellers; let index = index"
    [latitude]="seller.lat"
    [longitude]="seller.long"
    [label]="'S'"
    (mouseOver)="this.onMarkerHover(index)"
  >
    <agm-info-window *ngIf="seller.details" [disableAutoPan]="true">
      <ng-container
        *ngTemplateOutlet="
          sellerDetailsTemplate;
          context: { sellerDetails: seller }
        "
      ></ng-container>
    </agm-info-window>
  </agm-marker>
</agm-map>

<ng-template #sellerDetailsTemplate let-seller="sellerDetails">
  <p class="text--orange text--normal">{{ seller.name }}</p>
  <table class="table mt-2">
    <tbody>
      <tr *ngFor="let material of this.materials | keyvalue">
        <td>{{ material.value }}</td>
        <td>
          <span> {{ seller.details[material.key].quantity }} kg </span>
          (₹<span> {{ seller.details[material.key].cost }} </span> / kg)
        </td>
      </tr>
    </tbody>
  </table>
  <div class="actions flex">
    <button
      mat-flat-button
      color="primary"
      class="rounded-button"
      [routerLink]="['/buyer', this.appServ.loggedInUserInfo.id, 'bid']"
      [queryParams]="{ sellerId: seller.id }"
    >
      Bid to buy
    </button>
  </div>
</ng-template>
