<div class="landing-container">
  <div class="map-container">
    <wm-map [sellers]="this.appServ.allSellers"></wm-map>
  </div>
</div>

<wm-page-actions>
  <div class="info-container">
    <div class="content">
      <p class="title-1">
        We have listed all 210 Resource recovery points of Chennai Corporation. Buyers registration is increasing every day. Soon Platform
        will be open to all sellers.
      </p>
      <hr />
      <div class="actions">
        <div class="action">
          <p class="text--normal mb-2">Existing user?</p>
          <button mat-raised-button (click)="openLoginDialog()" color="primary">
            Account login
          </button>
        </div>
        <div class="action">
          <p class="text--normal mb-2">New user?</p>
          <button mat-raised-button (click)="openSignupDialog()" color="primary">
            Sign up
          </button>
        </div>
      </div>
      <hr />
      <p class="title-2">
        Join us and be a part of our effort to make Chennai an efficient net Zero Waste City.
      </p>
    </div>
  </div>
</wm-page-actions>
