<div class="create-bid-container">
  <div class="seller-info flex justify-start">
    <p class="text--large">{{ this.seller.name }}</p>
    <div class="display-picture">
      <img
        src="./../../../../assets/images/seller-dummy-dp.png"
        alt="Display picture"
        height="88"
      />
    </div>
  </div>

  <div class="seller-basic-info">
    <p class="text--medium">Data last updated by seller - 12/06/19 - 17:05</p>
  </div>

  <div class="bid-form-container">
    <p class="text--largesecondary text--orange">Bidding Form</p>
    <div class="flex justify-start mt-2">
      <mat-form-field appearance="outline">
        <mat-label>Contact name</mat-label>
        <input matInput placeholder="Contact name" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="ml-4">
        <mat-label>Pickup date</mat-label>
        <input matInput placeholder="Pickup date" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="ml-4">
        <mat-label>Pickup time</mat-label>
        <input matInput placeholder="Pickup time" />
      </mat-form-field>
    </div>
  </div>
</div>

<wm-page-actions [user]="this.buyer"> </wm-page-actions>
