<div class="create-bid-container">
  <div class="seller-info flex justify-start">
    <p class="text--large">{{ this.sellerName }}</p>
    <div class="display-picture">
      <img
        [attr.src]="'./../../../../assets/images/seller-dummy-dp.png'"
        alt="Display picture"
        height="88"
      />
    </div>
  </div>

  <div class="seller-basic-info">
    <p class="text--medium">
      Data last updated by seller at
      <span class="text--bold">{{
        this.sellerItem?.updatedAt | date: "medium"
      }}</span>
    </p>
  </div>

  <div *ngIf="this.canRaiseBid" class="bid-form-container">
    <p class="text--largesecondary text--blue">Bidding Form</p>
    <div class="flex">
      <div class="contact-name">
        <input
          class="form-control"
          [(ngModel)]="this.bid.contactName"
          placeholder="Contact name"
        />
      </div>
      <div class="datapicker-field ml-4">
        <input
          type="text"
          placeholder="Datepicker"
          class="form-control"
          bsDatepicker
          [(ngModel)]="this.bid.pDateTime"
          placeholder="Pickup Date"
        />
      </div>
      <div>
        <span class="text--normal mr-2 ml-4 text--bold">at</span>
      </div>
      <div class="timepicker-field ml-2">
        <timepicker [(ngModel)]="this.bid.pDateTime"></timepicker>
      </div>
    </div>
    <table class="table mt-2">
      <thead>
        <tr>
          <th scope="col" class="background--blue">Material</th>
          <th scope="col">Available Qty. (in kg)</th>
          <th scope="col">Bid Qty. (in kg)</th>
          <th scope="col">Min. Price (in ₹/kg)</th>
          <th scope="col">Bid Price (in ₹/kg)</th>
          <th scope="col text--right">Total Price (in ₹)</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let material of this.materials | keyvalue">
          <tr *ngIf="this.sellerItem.details[material.key]?.quantity">
            <td class="background--blue">{{ material.value }}</td>
            <td>{{ this.sellerItem.details[material.key].quantity }}</td>
            <td>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="this.bid.details[material.key].bidQuantity"
                [wmMax]="this.sellerItem.details[material.key].quantity"
                (input)="this.calculateTotalBid()"
              />
            </td>
            <td>{{ this.sellerItem.details[material.key].cost }}</td>
            <td>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="this.bid.details[material.key].bidCost"
                (input)="this.calculateTotalBid()"
              />
            </td>
            <td>
              {{
                this.bid.details[material.key].bidQuantity *
                  this.bid.details[material.key].bidCost
              }}
            </td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="5" class="text--right text--blue">
            Total Bid Price (in ₹)
          </td>
          <td>
            {{ this.bid.totalBid }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="actions flex justify-end">
      <button
        mat-stroked-button
        color="primary"
        class="rounded-button mr-2"
        [routerLink]="['/buyer', this.appServ.loggedInUserInfo.id, 'browse']"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        color="primary"
        class="rounded-button"
        (click)="this.createOrUpdateBid()"
      >
        Confirm
      </button>
    </div>
  </div>
</div>

<wm-page-actions [user]="this.bid">
  <div class="actions flex mt-4">
    <button
      mat-flat-button
      color="primary"
      class="rounded-button"
      [routerLink]="['/buyer', this.appServ.loggedInUserInfo.id, 'bid-list']"
    >
      View Pending Bids
    </button>
  </div>
</wm-page-actions>
