.create-bid-container {
  .seller-info {
    background-color: #eb5821e0;
    color: #ffffff;
    height: 56px;
    border-radius: 4px;
    position: relative;

    .display-picture {
      position: absolute;
      top: 20px;
      left: 30px;
    }
  }
  .seller-info,
  .seller-basic-info,
  .bid-form-container {
    padding: 0 128px;
  }

  .bid-form-container {
    margin-top: 32px;
  }
}

.browse-by-container {
  background-color: #a1ebeb;
  padding: 64px 32px;
}

.table td input {
  width: 100px;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
}
