<div class="bid-list-container">
  <p class="text--largesecondary text--blue">
    Current Bids
  </p>
  <p class="text--normal text--gray">
    Bids not accepted before 18hrs of pick-up time will be automatically
    cancelled.
  </p>
  <div class="bid-list-table-container mt-4">
    <wm-bid-list-table
      [bids]="this.bids"
      (bidApproved)="this.getSellerItems()"
    ></wm-bid-list-table>
  </div>
</div>

<wm-page-actions [user]="this.seller">
  <div class="seller-details-template">
    <ng-container *ngTemplateOutlet="sellerDetailsTemplate"></ng-container>
  </div>
</wm-page-actions>

<ng-template #sellerDetailsTemplate>
  <table *ngIf="sellerItem" class="table mt-2">
    <tbody>
      <tr *ngFor="let material of this.materials | keyvalue">
        <td>{{ material.value }}</td>
        <td>
          <ng-container
            [ngTemplateOutlet]="
              isSellerDataEditable ? editableItemQty : showableItemQty
            "
            [ngTemplateOutletContext]="{
              sellerItem: sellerItem,
              material: material
            }"
          ></ng-container>
          <ng-container
            [ngTemplateOutlet]="
              isSellerDataEditable ? editableItemCost : showableItemCost
            "
            [ngTemplateOutletContext]="{
              sellerItem: sellerItem,
              material: material
            }"
          ></ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="actions flex justify-end">
    <button
      *ngIf="this.isSellerDataEditable"
      mat-flat-button
      color="accent"
      class="rounded-button mr-2"
      (click)="this.isSellerDataEditable = false"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      class="rounded-button"
      (click)="
        this.isSellerDataEditable
          ? this.updateSellerItem()
          : (this.isSellerDataEditable = true)
      "
    >
      {{ this.isSellerDataEditable ? "Update data" : "Edit" }}
    </button>
  </div>
  <hr />
  <div
    class="text--center mt-4"
    *ngIf="this.appServ.loggedInUserInfo?.persona == 'admin'"
  >
    <button
      mat-flat-button
      color="primary"
      class="rounded-button mr-2"
      [routerLink]="['/admin', 'seller-list']"
    >
      View all sellers
    </button>
  </div>
</ng-template>

<ng-template
  #showableItemQty
  let-sellerItem="sellerItem"
  let-material="material"
>
  {{ sellerItem.details[material.key].quantity }}kg
</ng-template>

<ng-template
  #editableItemQty
  let-sellerItem="sellerItem"
  let-material="material"
>
  <div class="flex justify-start mb-1">
    <span>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="sellerItem.details[material.key].quantity"
      />
    </span>
    <span class="ml-1">
      kg
    </span>
  </div>
</ng-template>

<ng-template
  #showableItemCost
  let-sellerItem="sellerItem"
  let-material="material"
>
  (₹{{ sellerItem.details[material.key].cost }}.00 / kg)
</ng-template>

<ng-template
  #editableItemCost
  let-sellerItem="sellerItem"
  let-material="material"
  class="flex"
>
  <div class="flex justify-start mb-1">
    <span>
      <input
        type="number"
        class="form-control"
        [(ngModel)]="sellerItem.details[material.key].cost"
      />
    </span>
    <span class="ml-2">
      (₹ / kg)
    </span>
  </div>
</ng-template>
