<div class="home-container">
  <div class="header">
    <div class="title">
      <div class="logo">
        <img src="./../../assets/logos/app-logo.svg" height="64" />
      </div>
      <div class="content">
        <h1>India waste exchange</h1>
        <h3>
          Join us and be a part of our effort to make chennai an efficient net
          zero waste city
        </h3>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="btn btn-primary">
        Sign in
      </button>
      <button type="button" class="btn btn-primary">
        Sign up
      </button>
    </div>
  </div>

  <div class="body">
    <div class="images">
      <div class="image">
        <img src="./../../assets/home-page-images/1.svg" height="180"/>
        <h3 class="text--primary text--center">Collect</h3>
      </div>
      <div class="image">
        <img src="./../../assets/home-page-images/2.svg" height="180"/>
        <h3 class="text--primary text--center">Classify</h3>
      </div>
      <div class="image">
        <img src="./../../assets/home-page-images/3.svg" height="180"/>
        <h3 class="text--primary text--center">Auction</h3>
      </div>
      <div class="image">
        <img src="./../../assets/home-page-images/4.svg" height="180"/>
        <h3 class="text--primary text--center">Recycle</h3>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="government-logo">
      <div class="logo">
        <img src="./../../assets/logos/government-logo.svg" height="44" />
      </div>
      <div class="content">
        <p class="text--gray text--normal">
          Ministry of housing and urban affairs
        </p>
        <p class="text--gray text--medium">Goverment of India</p>
      </div>
    </div>
    <div class="tech-for-cities-logo">
      <div class="content">
        <p class="text--gray text--normal">Built by</p>
      </div>
      <div class="logo">
        <img src="./../../assets/logos/tech-for-cities-logo.svg" height="48" />
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
