$app-primary: #A1EBEB;

.home-container {
  height: 100vh;
  width: 100vw;

  .header {
    width: 100vw;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.15);

    .app-title {
      color: #707070;
    }
  }

  .body {
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .map-container {
      flex-basis: 73%;
      height: 100%;
    }

    .info-container {
      flex-basis: 27%;
      height: 100%;
      max-height: 100%;
      overflow: auto;
      background-color: $app-primary;
      padding: 64px 48px;

      .actions .action {
        margin: 16px 0;
      }

      hr {
        background: black;
        border-top-width: 2px;
        width: 34%;
      }

      .title-1 {
        font-size: 28px;
        margin: 24px 0;
      }

      .title-2 {
        font-size: 20px;
        margin: 24px 0;
      }
    }
  }
}

