<div class="home-container">
  <div class="header">
    <div class="government-logo">
      <img src="./../../assets/logos/ministry-logo.png" height="64" />
    </div>
    <div class="app-title">
      <p class="text--xlarge">Indian Waste Exchange</p>
    </div>
    <div class="ng0-logo">
      <img src="./../../assets/logos/smart-city-logo.png" height="64" />
    </div>
  </div>

  <div class="body">
    <div class="map-container">
      <wm-map></wm-map>
    </div>
    <div class="info-container">
      <div class="content">
        <p class="title-1">
          We have 147 sellers and 32 buyers listed with us so far.
        </p>
        <hr />
        <p class="title-2">
          Join us and be a part of our effort to make Chennai an efficient net
          Zero Waste City.
        </p>
        <hr />
      </div>
      <div class="actions">
        <div class="action">
          <p class="text--normal mb-2">New user?</p>
          <button mat-raised-button color="primary">Sign up</button>
        </div>
        <div class="action">
          <p class="text--normal mb-2">Existing user?</p>
          <button mat-raised-button color="primary">Account login</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
