.info-container {
  padding: 32px;
  height: 100%;

  .special-thanks-container img,
  .advisory-team-container img {
    height: 200px;
    width: 200px;
    border-radius: 24px;
  }

  .our-team-container,
  .idea-container {
    padding: 0 180px;

    .our-team-sub-container,
    .idea-sub-container {
      margin: 48px 0;

      &.zero-waste-team-container img {
        height: 200px;
        min-width: 200px;
        flex-basis: 250px;
        border-radius: 24px;
        margin: 16px;
        margin-right: 48px;
      }
    }
  }
}

.contact-us-container {
  .mat-icon {
    font-size: 48px !important;
  }
  .contact-container {
    margin-top: 5rem !important;
  }
}

.privacy-policy-container-list-container p {
  margin-top: 0.4em;
}