.info-container {
  padding: 32px;
  height: 100%;

  .special-thanks-container img,
  .advisory-team-container img {
    height: 200px;
    width: 200px;
    border-radius: 24px;
  }

  .our-team-container,
  .idea-container {
    padding: 0 180px;

    .our-team-sub-container,
    .idea-sub-container {
      margin: 48px 0;

      &.zero-waste-team-container img {
        height: 200px;
        min-width: 200px;
        flex-basis: 250px;
        border-radius: 24px;
        margin: 16px;
        margin-right: 48px;
      }
    }
  }
  .resource-partner-info-container{
    margin-left: 15px;
    margin-right: 20px;

    .resource-partner-info-container-table {
      padding: 10px;
      border-collapse:separate; 
      border-spacing:0 20px;
      
      .resource-partner-img-container{
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05), 0 2px 8px rgba(0, 0, 0, 0.15);
        width: 300px;
        height:100px;
        max-height:100px;
        border-radius: 20px;
        padding: 5px;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
        }
      }
      .resource-partner-description-container {
        padding: 10px 0px 10px 25px;
      }
    }
  }
}

.contact-us-container {
  .mat-icon {
    font-size: 48px !important;
  }
  .contact-container {
    margin-top: 5rem !important;
  }
}

.privacy-policy-container-list-container p {
  margin-top: 0.4em;
}