<div class="info-container">
  <ng-container [ngSwitch]="this.page">
    <ng-container *ngSwitchCase="'our-team'">
      <ng-container *ngTemplateOutlet="ourTeamTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'special-thanks'">
      <ng-container *ngTemplateOutlet="specialThanksTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'idea'">
      <ng-container *ngTemplateOutlet="ideaTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'advisory-team'">
      <ng-container *ngTemplateOutlet="advisoryTeamTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'contact-us'">
      <ng-container *ngTemplateOutlet="contactUsTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'offers'">
      <ng-container *ngTemplateOutlet="offersTemplate"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'terms-and-conditions'">
      <ng-container *ngTemplateOutlet="termsAndConditionsTemplate"></ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #ourTeamTemplate>
  <div class="our-team-container">
    <div class="our-team-info-container">
      <div class="our-team-sub-container text--center mt-0">
        <h3 class="text--blue">Our team</h3>
        <img src="assets/info/our-team/our-team-main.png" width="400px" alt="" />
      </div>
      <hr />
      <div class="our-team-sub-container text--center">
        <h4 class="text--blue">India Smart City Fellowship</h4>

        <div class="video-container m-4">
          <iframe width="100%" height="600px" src="https://www.youtube.com/embed/6xZsFgcb974"> </iframe>
        </div>
        <p class="m-4 text--large text--bold">
          “Smart Cities Fellows bring passion and energy to the tough but exciting work of implementing cutting edge, high-impact solutions
          to key urban problems”
        </p>

        <p>
          The Smart Cities Mission, launched by the Hon’ble Prime Minister of India, Shri. Narendra Modi in June 2015, is an innovative
          approach to augment cities capacity with features that all citizens aspire for. It is an opportunity to drive economic growth and
          improve the quality of life of people by harnessing technology as a means to create smart solutions for citizens. As of 2019, 100
          cities have been selected under the Mission to act as lighthouses of development. The Mission being citizen centric, intends to
          involve citizens at all levels. Young professionals being an integral part of society and thought leaders of tomorrow have been
          brought to the forefront through the India Smart Cities Fellowship (ISCF) Program to innovate and work with the Government to
          accelerate development and help create a better India.
        </p>
        <a href="https://smartnet.niua.org/iscfip/">More Info</a>
      </div>
      <hr />
      <div class="our-team-sub-container zero-waste-team-container">
        <h4 class="text--blue text--center">Zero waste team</h4>
        <div class="flex">
          <img src="assets/info/our-team/azhagu.png" alt="" />
          <p>
            Azhagu Pandia Raja M.P is an engineering graduate from K.L.N College, Anna University with specialization in Information
            Technology. Azhagu has a Master’s in International Relations from UOM, Chennai. He has previously worked in geospatial and
            hazard mapping insurance projects with RBS, United Kingdom. He also worked as a life skill trainer with UNICEF.
          </p>
        </div>
        <div class="flex">
          <img src="assets/info/our-team/jismi.png" alt="" />
          <p>
            Jismi Varghese is an Architect and an Urban Planner. She graduated from Mumbai University and acquired a post graduate degree
            from BIT, Mesra. She interned with CIDCO (NAINA), where she worked on the NAINA City Development Plan, 2034.
          </p>
        </div>
        <div class="flex">
          <img src="assets/info/our-team/pinky.png" alt="" />
          <p>
            Pinky Taneja having a Ph.D. (Sciences) degree from AcSIR, CSIR-National Environmental and Engineering Research Institute is a
            specialist in the field of environmental science. She has research experience of in diverse aspects of environmental science as
            hyperspectral imaging through ENVI software, organic farming for improving wheat growth and effective removal of nitrate from
            groundwater.
          </p>
        </div>
      </div>
      <hr />
      <div class="our-team-sub-container text--center">
        <h4 class="text--blue">Smart city mission</h4>
        <img class="m-4" src="assets/info/our-team/smart-city.png" alt="" />
        <p>
          The Government of India has launched the Smart Cities Mission on 25 June 2015. The objective is to promote sustainable and
          inclusive cities that provide core infrastructure and give a decent quality of life to its citizens, a clean and sustainable
          environment and application of ‘Smart’ Solutions. The focus is on sustainable and inclusive development and the idea is to look at
          compact areas, create a replicable model which will act like a lighthouse to other aspiring cities. The Smart Cities Mission is
          meant to set examples that can be replicated both within and outside the Smart City, catalyzing the creation of similar Smart
          Cities in various regions and parts of the country.
        </p>
      </div>
      <hr />
      <div class="our-team-sub-container text--center">
        <h4 class="text--blue">MOHUA</h4>
        <img class="m-4" src="assets/info/our-team/ministry-building.png" alt="" />
        <p>
          The Ministry of Housing and Urban Affairs is the apex authority of Government of India at the national level to formulate
          policies, sponsor and support programme, coordinate the activities of various Central Ministries, State Governments and other
          nodal authorities and monitor the programmes concerning all the issues of housing and urban affairs in the country. The Ministry
          of Housing and Urban Affairs is headed by Shri Hardeep Singh Puri, Hon’ble Minister of State (I/C) for Housing and Urban Affairs.
          At the bureaucratic level, the Ministry is headed by Secretary, Shri Durga Shanker Mishra, IAS .
        </p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #specialThanksTemplate>
  <div class="special-thanks-container">
    <h3 class="text--center text--blue">Special Thanks</h3>
    <div class="flex space-evenly mt-4">
      <div class="member-container flex direction-column">
        <img src="assets/info/special-thanks/commissioner.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Mr G Prakash I.A.S</p>
          <p class="text--medium">Commissioner</p>
          <p class="text--medium">Greater Chennai Corporation</p>
        </div>
      </div>
      <div class="member-container flex direction-column">
        <img src="assets/info/special-thanks/deputy-commissioner.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Mr Madhusudhan Reddy I.A.S</p>
          <p class="text--medium">Deputy Commissioner</p>
          <p class="text--medium">Greater Chennai Corporation</p>
        </div>
      </div>
      <div class="member-container flex direction-column">
        <img src="assets/info/special-thanks/smart-city-ceo.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Mr Raj Cherupal</p>
          <p class="text--medium">SMART CITY CEO</p>
          <p class="text--medium">Chennai</p>
        </div>
      </div>
      <div class="member-container flex direction-column">
        <img src="assets/info/special-thanks/chief-engineer.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Mr Mahesh</p>
          <p class="text--medium">Chief Engineer</p>
          <p class="text--medium">Greater Chennai Corporation</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #ideaTemplate>
  <div class="idea-container">
    <div class="idea-info-container">
      <h4 class="text--blue text--center">Our idea</h4>
      <p class="text--justify">
        India Waste Exchange is a trading platform for municipal solid waste (MSW) and it is the India’s First waste Exchange for MSW. It is
        also believed to be world’s first Waste Exchange for MSW. This platform helps cities to achieve zero waste by bringing in the
        concept of Circular Economy in Waste Management. It helps the City administrators to collaborate with private players and informal
        players in the field of Waste management to solve the menace of waste management problem.
      </p>
      <img src="./../../../../assets/info/idea/waste-exchange-process.png" alt="" class="mt-4 align-center-mauto" />
      <div class="idea-sub-container">
        <p class="text--justify">
          <b>
            Phase One:
          </b>
        </p>
        <p class="text--justify">
          Team ZERO WASTE did a complete study of process involved right from door to door collection to dumping of waste by visiting every
          zone across Chennai city. Further we visited all kind of waste processing facilities including Bio-gas plants from house hold
          waste, market waste and animal waste etc to get clear picture.
        </p>
        <p>
          <b>
            Phase Two:
          </b>
        </p>
        <p class="text--justify">
          Waste Exchange platform to handle Municipal solid waste has been developed and feasibility test is being carried out in Chennai
          city with the help of Greater Chennai Corporation (GCC). Post studies, it will be scaled up both Horizontally by including other
          form of waste like e-waste, C&D waste etc and vertically by expanding geographically.
        </p>
        <p>
          <b>
            Phase Three:
          </b>
        </p>
        <p class="text--justify">
          The Platform will be expanded to other Smart Cities in Tamil Nadu to study how networking among cities help in solving the Solid
          waste management problem.
        </p>
        <p>
          <b>
            Phase Four:
          </b>
        </p>
        <p class="text--justify">
          This Waste Exchange platform will be scaled up across all 100 Smart Cities in India. This will create a huge set of micro networks
          in waste management supply chain across India to communicate among each other. This in turn will help country to achieve net zero
          waste.
        </p>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #advisoryTeamTemplate>
  <div class="advisory-team-container">
    <h3 class="text--center text--blue">Advisory Team</h3>
    <div class="flex space-evenly mt-4">
      <div class="member-container flex direction-column">
        <img src="./../../../../assets/info/advisory-team/kunal-kumar.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Mr Kunal Kumar</p>
          <p class="text--medium">Mission Director(Smart Cities)</p>
          <p class="text--medium">Ministry of Housing and Urban Affairs</p>
        </div>
      </div>
      <div class="member-container flex direction-column">
        <img src="./../../../../assets/info/advisory-team/janaki.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Ms. M. Janaki</p>
          <p class="text--medium">Deputy Secretary</p>
          <p class="text--medium">Ministry of Housing and Urban Affairs</p>
        </div>
      </div>
      <div class="member-container flex direction-column">
        <img src="./../../../../assets/info/advisory-team/masilamani.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Prof. R.J. Masilamani</p>
          <p class="text--medium">Guest Professor</p>
          <p class="text--medium">BIMTECH</p>
        </div>
      </div>
      <div class="member-container flex direction-column">
        <img src="./../../../../assets/info/advisory-team/jagan-shah.png" alt="" />
        <div class="member-details-container flex direction-column mt-2">
          <p class="text--normal text--blue">Mr Jagan Shah</p>
          <p class="text--medium">Former Director</p>
          <p class="text--medium">National Institute of Urban Affairs</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contactUsTemplate>
  <div class="contact-us-container">
    <h3 class="text--center text--blue">Contact Us</h3>

    <div class="text--center">We are here to assist you</div>

    <div class="row contact-container">
      <div class="offset-sm-2 col-4 text-right">
        <div class="row">
          <div class="col align-self-center text-right">
            <mat-icon>email</mat-icon>
          </div>
          <div class="col align-self-center text-left">
            <div class="text--blue">
              BY MAIL
            </div>
            <a href="mailto:info.iwx@gmail.com">
              info.iwx@gmail.com
            </a>
          </div>
        </div>
      </div>
      <div class="col-4 text-left">
        <div class="row">
          <div class="col align-self-center text-right">
            <mat-icon>call</mat-icon>
          </div>
          <div class="col align-self-center text-left">
            <div>
              <span class="text--blue">BY PHONE</span>
            </div>
            <div>
              +916381418620
            </div>
            <div>
              <span> (10 AM – 4 PM, Mon- Fri)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #offersTemplate>
  <div class="offers-container">
    <h3 class="text--center text--blue">Offers by Chennai Corporation</h3>
    <div class="offers-list-container mt-2 p-4">
      <p class="text--normal">
        <strong>1.</strong> If the order is more than 1000KG, we will deliver at your door steps if the location is inside Chennai City.
      </p>
      <p class="text--normal">
        <strong>2.</strong> For Bulk Orders above 1000KG, we will bring the ordered stock to the requested RRC, MCC points from the source
        location for easy pick up.
      </p>
      <p class="text--normal"><strong>3.</strong> For any other queries, please contact us through E-mail/ Phone.</p>
    </div>
  </div>
</ng-template>

<ng-template #termsAndConditionsTemplate>
  <div class="terms-and-conditions-container">
    <h3 class="text--center text--blue">Terms and Conditions</h3>
    <div class="terms-and-conditions-list-container mt-2 p-4">
      <p class="text--blue"><strong>INTERPRETATION </strong></p>

      <p>
        <strong>Buyer:</strong> the person, firm or company who purchases the Goods or Services from the seller through the company. When
        the Buyer is more than one person, firm or company, each shall be jointly and severally liable to the Company under a Contract.
      </p>

      <p>
        <strong>Seller:</strong> the person, firm or company who sells the Goods or Services to Buyer through the Company. When the seller
        is more than one person, firm or company, each shall be jointly and severally liable to the Company under a Contract.
      </p>

      <p><strong>Company:</strong> India Waste Exchange (Ministry of Housing and Urban Affairs)</p>

      <p>
        <strong>Contract:</strong> any contract between the Company and the Buyer/Seller for the sale and purchase of the Goods or Services,
        incorporating these conditions.
      </p>

      <p>
        <strong>Delivery Point:</strong> the place where delivery of the Goods or supply of the Services is to take place under condition
      </p>

      <p>
        <strong>Goods:</strong> any goods agreed in the Order/Contract to be supplied to the Buyer by the Seller (including any part or
        parts of them).
      </p>

      <p>
        Services: any services agreed in the Contract to be supplied to the Buyer/Seller by the Company and any services which are required
        to install the Goods at the Seller’s premises/Buyer’s premises if the Company has expressly agreed in writing to carry out the
        installation of any Goods under the Contract.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>General</strong></p>

      <p>a) This Waste Exchange is a product of Ministry of Housing and Urban Affairs.</p>

      <p>b) Payment to be made strictly to the Seller during dispatch of Goods.</p>

      <p>c) The Buyer/Seller must provide a valid Government ID proof at the time of delivery of Goods</p>

      <p>
        d) Any order placed with the Company for goods and/or service implies acceptance of the following conditions which may be varied
        only in writing by the Company’s authorised representative. Descriptive and clerical errors are subject to correction.
      </p>

      <p>
        e) These conditions are in place of and exclude all other warranties and conditions whether implied by statute or otherwise and in
        particular the Purchaser acknowledges that he has relied solely upon his own inspection and skill and judgement and not by reason of
        any representation by the company.
      </p>

      <p>f) The Company’s internal order will constitute the basis of the agreement.</p>

      <p>
        e) Company has all right to remove Seller/ Buyer from the platform without prior notice in case of wrong information given or for
        any other reasons company feels necessary.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Warranties</strong></p>

      <p>
        The company act as an aggregator, no physical inspection of goods available at the Seller’s place or Sellers/Buyer authenticity is
        done. So any issue rising out of quality of goods or authenticity of Seller/Buyer, Company will not take the responsibility.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Acceptance</strong></p>

      <p>
        Any contract or order based on this or any other tender or quotation is only accepted upon and subject to the Company’s Terms and
        Conditions. All Orders placed are subject to withdrawal or variation by the Company at anytime. The Company reserves the right to
        correct any accidental error or omission or quotation or invoice without prior notice.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Prices</strong></p>

      <p>All prices are net and Goods and Services Tax exclusive unless otherwise stated.</p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Goods and Services Tax</strong></p>

      <p>
        Prices quoted are subject to the addition of goods and services tax and to any tax imposed by any Government authority upon the
        goods quoted or upon the production, sale, distribution, delivery or upon any feature thereof if applicable. All such taxes shall be
        payable by the Buyer and may be added to the purchase price by the Company.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Availability of goods</strong></p>

      <p>
        The Company shall have no liability direct or indirect for the delay in delivery or non-delivery of items. The delivery time for the
        goods quoted on an indent basis is an estimate only and is based upon the Company’s knowledge of conditions prevailing at the time
        the Order is made.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Acceptance of goods</strong></p>

      <p>
        The Buyer shall inspect the goods immediately during the delivery. If not satisfied with the quality of goods, Buyer can cancel the
        order. Buyer shall not be bound to accept and pay for the same accordingly.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Standing Orders &amp; Contracts</strong></p>

      <p>
        Any Standing Orders and other contracts that have been made with Company are non-binding. Can be cancelled any parties without
        mutual agreement.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Deliveries</strong></p>

      <p>
        Payment will be made between Seller and Buyer. Company will not have any stake in this transaction. Mode of payment is let to
        Seller’s convenience.
      </p>

      <p>
        If the Ordered goods were not available with the Seller during the pick-up time, the credit rating of the Seller will be reduced. By
        no means will company take responsibility for this.
      </p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Cancellation</strong></p>

      <p>Orders in approved status can also be cancelled by the company without giving prior information to the Seller’s/ Buyers’.</p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Return of Goods</strong></p>

      <p>Once the goods is dispatched or delivered, returns are not possible.</p>

      <p>
        <br />
      </p>

      <p class="text--blue"><strong>Price</strong></p>

      <p>Price is set by Seller and it cannot be changed once the order is accepted.</p>

      <p>
        <br />
      </p>
    </div>
  </div>
</ng-template>
